:root {
  --color-accent: oklch(0.2653 0.1052 282.43);
}

html {
  accent-color: var(--color-accent);
}

body {
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
  padding: 1ch;
  background-color: oklch(0.8078 0.0201 284.49);
}

.home-img {
  max-width: 25%;
}

nav {
  display: flex;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: oklch(0.7 0.1052 282.43);
  margin-bottom: 1ch;
}

nav a {
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

.current {
  flex: 1;
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: inherit;
  background-color: oklch(from var(--color-accent) 95% 5% h);
}

.nav-item {
  flex: 1;
}

.nav-item:hover {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  background-color: oklch(from var(--color-accent) 95% 5% h);
}

/* CONTACT PAGE STYLING */

form {
  font: inherit;
}

input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

label {
  display: block;
  margin-block: 5px;
}

textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

button {
  display: block;
}

/* PROJECT PAGE STYLING */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 3em;
}

.proj-img {
  display: block;
  margin: auto;
  width: 280px;
  height: 150px;
  object-fit: cover;
}

h1 {
  line-height: 1.1;
  font-size: 400%;
}

h2 {
  line-height: 1.1;
  margin: 0;
}

h3 {
  line-height: 1.1;
}

h4 {
  line-height: 1.1;
}

h5 {
  line-height: 1.1;
}

h6 {
  line-height: 1.1;
}
